.footer {
  background-color: #262626;
  width: 100%;
  height: auto;
  padding: 60px 0 38px 0;
  text-align: center;
  color: #fff;
}



.bottom-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  padding: 2rem;
}

.padding {
  width: 100%;
  margin-top: 40px;
  font-size: 15px;
  line-height: 25px;
}

.border-bottomSide {
  border-bottom: 2px solid #FFFFFF;
}

td, th, tr {
  color: #fff;
}

.logo_div{
  text-align: start;
  img {
    margin: 0px 0px 36px 0;
  }
  p{
    color: #fff;
  }
}
