.footer {
  background-color: #262626;
  width: 100%;
  height: 562px;
  cursor: pointer;
  display: grid;
  place-items: center;
  // position: absolute;
  bottom: 0;
  margin: 0px 0 0 0;
  padding: 38px 0 0 0;

  .upper-part {
    display: flex;
    flex-direction: row;
    width: 80%;

    .logo_div {
      width: 212.391px;
      height: 55px;
      flex-shrink: 0;
      position: relative;

      img {
        position: absolute;
        top: -31px;
      }

      p {
        // width: 383px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        width: 383px;
        position: absolute;
        top: 57px;
        /* 178.571% */
      }

      img {
        width: 212.391px;
        height: 55px;
        flex-shrink: 0;
      }
    }

    .fields {
      width: 50%;
      height: 62px;
      flex-shrink: 0;
      margin: -32px 0px 0px 60px;
      position: absolute;
      right: 20px;

      tr {
        height: 27px;
        th {
          color: #448EE4;
          font-family: Montserrat;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 4;
        }
      }

      td {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 18px;
        // font-style: normal;
        font-weight: 400;
        // line-height: normal;
        word-spacing: 2px;
      }

    }
  }
}

.bottom-text {
  color: #FFFFFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2rem;
}


.padding {
  width: 383px;
  margin-top: 40px;
  font-size: 15px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px
}
.border-bottomSide{
  border-bottom: #FFFFFF 2px solid;
}
