<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo_div">
          <img src="../../../assets/footer/03 (1).svg" alt="Girl in a jacket">
          <p>ThefootyStats is your best resource for stats such as Goals, Over 2.5/Under 2.5, HT/FT, Dynamic In-Play Stats, and much more. If you have any questions, thoughts, or feedback please don't hesitate to get in touch.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table class="table fields">
            <tr>
              <th>Stats</th>
              <th>Matchs</th>
              <th>Leagues</th>
              <th>Prediction</th>
            </tr>
            <tr>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
            </tr>
            <tr>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
            </tr>
            <tr>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
            </tr>
            <tr>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
            </tr>
            <tr>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
              <td>Leagues</td>
            </tr>
            <!-- Add more rows as needed -->
          </table>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 2rem;">
      <div class="col-md-12 border-bottomSide d-flex">
        <div class="col-md-12 d-flex">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Playing.svg" alt="">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Score board.svg" alt="">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Card.svg" alt="">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Vector (11).svg" alt="">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Vector (12).svg" alt="">
          <img class="col-2" style="height: 90px;" src="../../../assets/footer/Goal.svg" alt="">
        </div>

      </div>
    </div>

    <div class="row text-center" style="margin-top: 2rem;">
      <div class="col-md-12">
        <p>Copyright ©2023 All rights reserved - thefootystats.com</p>
      </div>
    </div>
  </div>
</div>