.top_screen {
  width: 100%;
  height: 235px;
  top: 95px;
  position: relative;
  background-color: #182957 !important;
}

.alignText>h1 {
  color: #fff !important;
  font-family: "MuseoModerno", cursive;
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
}

.alignText>p {
  color: #fff !important;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.bgImage {
  border-top: 1px solid #fff;
  background-image: url('../../../assets/Mask\ group\ \(3\).png');
  height: 235px;
  background-position: center;
  position: relative;
  background-color: #805FB3 !important;

}

.alignText {
  margin: 0 auto;
  position: relative;
  bottom: -16vh;
}

.middle_screen {
  width: 944px;
  margin-top: 25px;

  p {
    color: #666666;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .big-text {
    width: 944px;
    color: #E2E2E2;
    text-align: center;
    margin-top: 30px;
  }

  /* 187.5% */
}

.strips-card {
  margin: 0 auto;
  width: 1100px;
  // max-height: 380px;
  height: 280px;
  border-radius: 55px;
  background: #FFF;
  box-shadow: 0px 0px 15px 0px rgba(62, 1, 158, 0.10);

  .strip-row {
    width: fit-content;
    margin-left: 8vw;
    // margin-top: 0vh;
    position: relative;
    bottom: -24px;

    .strips {
      border-radius: 21px;
      border: 1px solid #ECE6F6;
      display: flex;
      width: 280px;
      padding: 10px 25px;
      justify-content: space-between;
      margin: 0.3rem;

      p {
        color: #3E019E;
        margin: 0 auto;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.links-btn-box {
  width: 1130px;
  border-top: 2px solid #F6F6F6;
  margin: 0 auto;
  border-bottom: 2px solid #F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .inner {
    width: 70%;
    margin: 0 auto;

    .links-btn-box-row {

      .links-btn {
        padding: 20px;

        img {
          text-align: center;
          line-height: normal;
          position: relative;
          right: -60px;
        }

        .btn {
          width: 240px;
          height: 50px;
          display: flex;
          flex-direction: row;
          border-radius: 10px;
          background: #805FB3;
          align-items: center;

          p {
            color: #FFF;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            margin-left: 15px;
            margin-top: 12px;
          }

          svg {
            margin-left: 40px;
          }
        }
      }

    }
  }
}

.explore {
  margin: 0 auto;
  width: 831px;
  padding: 0px 280px 0px 280px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #ECE6F6;
  background: #F8F7FB;
  margin-bottom: 30px;

  .explore-text {
    display: flex;
    flex-direction: row;

    p,
    svg {
      color: #262626;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
    }

    p {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}

.leaguesData {
  display: flex;
  flex-direction: column;

  .title {
    border-radius: 5px;
    background: #262626;
    padding: 0 10px;
    color: #fff;
    height: 31px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start !important;
  }
}

.featuredMatches {
  // height: 62vh;
  overflow-y: auto;
  scroll-behavior: smooth;



  .mat-accordion .mat-expansion-panel {
    .mat-expansion-panel-header {
      height: 64px !important;
    }

    width: 100% !important;

    mat-panel-title {
      .stats-percent {
        background-color: #B7E8B3;
        width: 50px;
        height: 26px;
        /* position: fixed; */
        border-radius: 8px;
        /* right: 13px; */
        position: absolute;
        right: 50px;

        p {
          margin: 0 auto;
          font-size: small;
          font-weight: 600;
          padding: 0;
          /* margin: 0 auto; */
          margin-left: 14px;
          margin-top: 2px;
        }
      }
    }
  }

  .mat-expansion-panel-header-title {
    width: 90% !important;

    span {
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
      overflow: hidden !important;
    }

  }
}

.featuredMatches::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

.featuredMatches::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

.completedFixture {
  display: inline-flex;
  // padding: 0px 210.5px 0px 211.5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #DDDFE6;
  background: #F6F6F6;
  height: 40px;
  width: 100%;

  span {
    color: #182957;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}