<div>
    <div class="container">
        <div class="col-12 d-flex login">
            <div class="col-6">
                <img style="width: 92%;" src="../../../../assets/regf.png" alt="">
            </div>
            <div class="col-6 ">
                <h1 class="text-center">
                    Login
                </h1>
                <p class="fill-blank">To access more amazing features,Login here!</p>
                <form [formGroup]="logForm" class="p-3" (ngSubmit)="onSubmit()">
                    <mat-label class="label_fields">Email or Username</mat-label>
                    <mat-form-field appearance="outline">
                        <img src="../../../../assets/ph_user-bold (1).png" alt="" class="img_login">
                        <input matInput type="text" placeholder="Enter email or username" formControlName="email">
                        <mat-error *ngIf="logForm.controls['email'].hasError('required')">Email is required .
                        </mat-error>
                    </mat-form-field>
                        <mat-label class="label_fields">Password</mat-label>
    
                    <mat-form-field appearance="outline">
                        <img src="../../../../assets/uil_lock.png" alt="" class="img_login">
                        <input matInput type="text" placeholder="Enter password" formControlName="password">
                        <mat-error *ngIf="logForm.controls['password'].hasError('required')">Password is required .
                        </mat-error>
                    </mat-form-field>

                    <span style="color: #ffffff; float: right;" (click)="forgetPassword()">Forgot Password?</span>
                    <br><br><br>

                    <button class="w-100"  style="background-color: #805FB3 !important ; color: #ffffff;height: 50px;" mat-raised-button type="submit">Login</button>
                    <p class="mt-2">New to Login <a routerLink="/register">Register Here</a> </p>
                </form>
    
                <!-- <p class="mt-2 text-center" style="color: #ccc;">Or Continue with</p> -->
     <div>
        <img src="../../../../assets/" alt="">
     </div>
    
            </div>
    
        </div>
    </div>

    <img style="position: fixed; bottom: 0; right: 0;" src="../../../../assets/sideFootball.png" alt="">
</div>