/* Style the header with a grey background and some padding */
.header {
  background-color: #FFFFFF;
  margin-right: 2rem;
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #D9D9D9;
}

a {
  text-decoration: none;
  cursor: pointer;
}

// .active {
//   font-weight: bold;
//   background-color: #007bff;
//   color: #fff;
// }

.home {
  overflow: hidden;

  a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// .home {
//   a:active {
//     font-weight: 600;
//     text-decoration: underline;
//     color: #262626 !important;
//   }
// }

.logo_div {
  float: left;
  width: 40vw;
  padding: 20px 155px;
  cursor: pointer;
}


.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  width: 50vw;
}

.register {
  background: #448EE4;
  color: #FFFFFF;
  cursor: pointer;

}

.abc {
  border: none;
  width: 117px;
  height: 42px;
  padding: 10px 20px 10px 20px;
  border-radius: 21px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.login {
  background: #ECE6F6;
  color: #448EE4;


  img {
    margin-right: 5px;
  }

}

/* Add your desired styles for the active link here */
.nav-item.active {
  // background-color: #448EE4;
  // border-radius: 20px;
  // width: fit-content;
  // display: grid;
  // place-items: center;
  // /* Highlight the background color for the active link */

  a {

    // color: #fff;
    color: #448EE4;
    font-size: larger;
    font-weight: 700;
  }

  /* Change text color for the active link */
  // text-decoration: underline;
  // font-size: x-large;
  // font-weight: 900;
}

ul {
  li {
    a {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.show {
  border-top: 1px solid #000;
  margin-top: 10px;
}

.nav-item.active {
  a {
    color: #448EE4;
    font-size: 20px;
    font-weight: 700;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-item.active {
    a {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      background: #448EE4;
    }

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .show {
    border: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .show {
    border: none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .show {
    border: none !important;
  }
}