<div class="header">
  <div class="logo_div">
    <img src="../../../assets/header/03.svg" alt="" (click)="goToHome()">
  </div>


  <div class="header-right home">
    <a  routerLinkActive='active'   (click)="home()">Home</a>
    <a  routerLinkActive='active' (click)="stats()">Stats </a>
    <a  routerLinkActive='active' (click)="matches()">Matches</a>
    <a  routerLinkActive='active' (click)="leagues()">Leagues</a>
    <a  routerLinkActive='active' (click)="predictions()">Predictions</a>
    <button class="register abc" (click)="register()" *ngIf="!exclusive">Register</button>
    <button class="login abc" (click)="login()" *ngIf="!exclusive"><img src="../../../assets/ion_log-in-outline.png"
        alt="">Login</button>
        <button class="login abc" (click)="logout()" *ngIf="exclusive">Logout</button>

  </div>
</div>