<!-- <div class="header">
  <div class="logo_div">
    <img src="../../../assets/header/03.svg" alt="" (click)="goToHome()">
  </div>


  <div class="header-right home">
    <a  routerLinkActive='active'   (click)="home()">Home</a>
    <a  routerLinkActive='active' (click)="stats()">Stats </a>
    <a  routerLinkActive='active' (click)="matches()">Matches</a>
    <a  routerLinkActive='active' (click)="leagues()">Leagues</a>
    <a  routerLinkActive='active' (click)="predictions()">Predictions</a>
    <button class="register abc" (click)="register()" *ngIf="!exclusive">Register</button>
    <button class="login abc" (click)="login()" *ngIf="!exclusive"><img src="../../../assets/ion_log-in-outline.png"
        alt="">Login</button>
        <button class="login abc" (click)="logout()" *ngIf="exclusive">Logout</button>

  </div>
</div> -->


<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Brand/logo -->
      <a class="navbar-brand" routerLink="/"><img src="../../../assets/header/03.svg" alt=""></a>

      <!-- Toggle button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar items -->
      <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="home()">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/stats">stats</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/matches">matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/leagues">leagues</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</div>