.home_header {
  width: 100%;
  margin: 0;
}

.home_top {
  height: auto;
  background: #F2F2F2;

  div>p {
    font-family: "Montserrat" !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

  }

  div>h1 {
    font-family: "Montserrat" !important;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

  }
}

.middle-container {
  background-color: #fff !important;
  color: #000 !important;
  width: 100% !important;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;

  li>button {
    width: Hug (83px);
    height: Hug (37px);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    gap: 10px
  }
}

.mat-tab-group.equal-width .mat-tab-list .mat-tab-label {
  width: 50%;
  min-width: 50px;
  padding: 0;

  .mat-tab-label-content {
    white-space: normal;
    line-height: normal;
  }
}

.listing {
  width: 821px;
  height: 31px;
  top: 557px;
  left: 310px;
  border-radius: 5px;

}

li {
  // font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  //   color: #182957;


}

.tab_css {
  background-color: red;
}


.ccc {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0.4rem 1rem;
}

.abhi {
  background-color: red;
  background: red;
  color: aqua;
}

.mat-tab-label-active {
  background-color: red;
}

.last_img {
  img {

    margin-left: 90px
  }
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
  // width: 50%;
}

// .mat-accordion .mat-expansion-panel {
//   // border-top-right-radius: 4px;
//   // border-top-left-radius: 4px;
//   // width: 50%;
// }

.expansionPanelData {
  .mat-expansion-panel-header-title {
    text-align: left !important;
  }

  .matExpansionPanel {
    // .divData {
    //   padding: 0 130px !important;
    // }

    p {
      color: #666;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      /* 143.75% */
    }

    ul {
      list-style-type: disc;
      display: block;
      color: #448EE4;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;

      li {
        font-size: 18px;
        height: 30px;
      }

      /* 143.75% */
    }

  }

  .expansionPanelHeader {
    flex-grow: 2;
    font-family: Montserrat !important;
    font-size: 18px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    color: #448EE4;
    white-space: nowrap;
  }
}


.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.5),
    /* Top shadow */
    0 -10px 0px -9px rgba(0, 0, 0, 0.5);
}


table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
}

th {
  /* border: 1px solid !important; */
  padding: 10px;
  background: #262626;
  color: #fff;

  /* border-radius: 54px; */
}

td {
  padding: 0 10px;
  height: 60px;
  background-color: #F8F7FB;
}



.showAllFixtutre {
  border-radius: 26px;
  border: 1px solid #7955B0;
  background: #448EE4;
  box-shadow: 0px 0px 15px 0px rgba(24, 41, 87, 0.50);
  // padding: 10px;
  width: 80%;
  height: 54px;
  position: relative;
  display: inline-flex;
  padding: 8px 12.003px 8px 10px;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    left: 9px;
    top: 7px;
  }

  .textFixture {
    color: #fff !important;
    position: absolute;
    top: 18px;
    left: 57px;
  }

  .arrow {
    position: absolute;
    top: 0;
    left: 22vw;
  }
}

* {
  font-family: Montserrat !important;
}

.leaguesData {
  display: flex;
  flex-direction: column;

  .title {
    border-radius: 5px;
    background: #448EE4;
    padding: 0 10px;
    color: #fff;
    height: 31px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: start !important;
  }
}

.featuredMatches {
  height: 41vh;
  overflow-y: auto;
  scroll-behavior: smooth;

  .mat-accordion .mat-expansion-panel {
    .mat-expansion-panel-header {
      height: 43px !important;
    }

    width: 100% !important;
  }

  .mat-expansion-panel-header-title {
    width: 90% !important;

    span {
      white-space: nowrap !important;
      text-overflow: ellipsis !important;
      overflow: hidden !important;
    }

  }
}

.featuredMatches::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

.featuredMatches::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

.completedFixture {
  display: inline-flex;
  // padding: 0px 210.5px 0px 211.5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #DDDFE6;
  background: #F6F6F6;
  height: 40px;
  width: 100%;

  span {
    color: #448EE4;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

.goalsData {
  display: flex;
  width: 81px;
  padding: 4px 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  float: right;
  border-radius: 5px;
  border: 1px solid #182957;
  background: #FAFBFC;
}

.mat-mdc-list-base {
  height: 50px !important;
}

.sliderCard {
  width: 254px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #ECE6F6;
  background: #F8F7FB;
  padding: 10px;
}

.footaballPicture {
  .football1 {
    position: relative;
    left: 0;
    top: 10px;
    width: 80%;
  }

  .football2 {
    position: relative;
    z-index: 14;
    width: 100%;
    top: -3px;
    left: -15px;
  }

  .football3 {
    position: relative;
    top: -33px;
    left: 110px;
  }

  .football4 {
    position: relative;
    z-index: 50;
    top: -188px;
    left: 1px;
    width: 14%;
  }

  .football5 {
    position: relative;
    top: -67px;
    left: -7px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .completedFixture {
    width: 100%;

    span {
      font-size: 12px;
    }
  }

  .footaballPicture {
    .football1 {
      left: 0;
      top: 0;
      width: 80%;
    }

    .football2 {
      position: relative;
      z-index: 14;
      width: 90%;
      top: -4px;
      left: -9px;
    }

    .football3 {
      position: relative;
      top: -15px;
      z-index: 50;
      width: 13%;
      left: 28px;
    }

    .football4 {

      position: relative;
      z-index: 50;
      top: -54px;
      left: 17.1px;
      width: 13%;


    }

    .football5 {
      position: relative;
      top: -20px;
      left: 16px;
      width: 2%;
    }
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .footaballPicture {
    .football1 {
      position: relative;
      left: 0;
      top: 10px;
      width: 80%;
    }

    .football2 {
      position: relative;
      z-index: 14;
      width: 90%;
      top: 2px;
      left: -15px;
    }

    .football3 {
      position: relative;
      top: -20px;
      left: 53px;
      width: 12%;
    }

    .football4 {
      position: relative;
      z-index: 50;
      top: -88px;
      left: 31px;
      width: 13%;


    }

    .football5 {
      position: relative;
      top: -28px;
      left: 27px;
      width: 2%;

    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .footaballPicture {
    .football1 {
      position: relative;
      left: 0;
      top: 10px;
      width: 80%;
    }

    .football2 {
      position: relative;
      z-index: 14;
      width: 100%;
      top: -3px;
      left: -15px;
    }

    .football3 {
      position: relative;
      top: -33px;
      left: 110px;
    }

    .football4 {
      position: relative;
      z-index: 50;
      top: -188px;
      left: 75px;
      width: 14%;
    }

    .football5 {
      position: relative;
      top: -69px;
      left: 69px;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
.expandable-content {
  display: none;
}

.expandable-content.expanded {
  display: block;
}
